table, th, td {
    border: 1px solid black;
    text-align: center;
}

#monthStyle{
	background-color:#F8FF00;
	/*text-align: center;*/
}

#arrowPrev{
	background-color:#FF2E2E;
	/*text-align: center;*/
	cursor:pointer;
}

#arrowNext{
	background-color:#FF2E2E;
	/*text-align: center;*/
	cursor:pointer;
}

.inactive{
   background-color:#A2D4FA;
   pointer-events: none;
   cursor:not-allowed;
}

.active{
   background-color: #AAFFAA;
   cursor:pointer;
}

.change{
   background-color: #FF6733; 
}



